.env
.git
.gitignore
.gitattributes

.vs
.vscode
**/.vscode
.idea

**/bin/
**/obj/

[Tt]est[Rr]esult*/

*.nupkg
*.nuget.props
*.nuget.targets

**/.toolstarget

Dockerfile
docker-compose.yml
docker-compose.*.yml

**/integration-tests-v2/build/

**/__pycache__/
**/.pytest_cache/
**/*.pyc

**/allure-report/
mono_venv/

*.egg-info
**/*.egg-info/